.wrapper{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .container {
        padding: 15px;
    }
    .title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .btn {
        padding: 8px 16px;
    }
    .footer {
        font-size: 12px;
    }
}
